[package]
name = "iced_winit"
version = "0.10.0"
authors = ["Héctor Ramón Jiménez <hector0193@gmail.com>"]
edition = "2021"
description = "A winit runtime for Iced"
license = "MIT"
repository = "https://github.com/iced-rs/iced"
documentation = "https://docs.rs/iced_winit"
keywords = ["gui", "ui", "graphics", "interface", "widgets"]
categories = ["gui"]

[features]
default = ["x11", "wayland", "wayland-dlopen", "wayland-csd-adwaita"]
trace = ["tracing", "tracing-core", "tracing-subscriber"]
chrome-trace = ["trace", "tracing-chrome"]
debug = ["iced_runtime/debug"]
system = ["sysinfo"]
application = []
x11 = ["winit/x11"]
wayland = ["winit/wayland"]
wayland-dlopen = ["winit/wayland-dlopen"]
wayland-csd-adwaita = ["winit/wayland-csd-adwaita"]

[dependencies]
window_clipboard = "0.3"
log = "0.4"
thiserror = "1.0"
raw-window-handle = "0.5"

[dependencies.winit]
version = "0.28"
git = "https://github.com/iced-rs/winit.git"
rev = "c52db2045d0a2f1b8d9923870de1d4ab1994146e"
default-features = false

[dependencies.iced_runtime]
version = "0.1"
path = "../runtime"

[dependencies.iced_graphics]
version = "0.9"
path = "../graphics"

[dependencies.iced_style]
version = "0.9"
path = "../style"

[dependencies.tracing]
version = "0.1.37"
optional = true
features = ["std"]

[dependencies.tracing-core]
version = "0.1.30"
optional = true

[dependencies.tracing-subscriber]
version = "0.3.16"
optional = true
features = ["registry"]

[dependencies.tracing-chrome]
version = "0.7.0"
optional = true

[target.'cfg(target_os = "windows")'.dependencies.winapi]
version = "0.3.6"

[target.'cfg(target_arch = "wasm32")'.dependencies.web-sys]
version = "0.3"
features = ["Document", "Window"]

[dependencies.sysinfo]
version = "0.28"
optional = true
