[package]
name = "iced_winit"
version = "0.3.0"
authors = ["Héctor Ramón Jiménez <hector0193@gmail.com>"]
edition = "2018"
description = "A winit runtime for Iced"
license = "MIT"
repository = "https://github.com/hecrj/iced"
documentation = "https://docs.rs/iced_winit"
keywords = ["gui", "ui", "graphics", "interface", "widgets"]
categories = ["gui"]

[features]
debug = ["iced_native/debug"]

[dependencies]
window_clipboard = "0.2"
log = "0.4"
thiserror = "1.0"

[dependencies.winit]
version = "0.25"
git = "https://github.com/iced-rs/winit"
rev = "eba45b9567d3efdba5165381960b4f914fffeb96"

[dependencies.iced_native]
version = "0.4"
path = "../native"

[dependencies.iced_graphics]
version = "0.2"
path = "../graphics"

[dependencies.iced_futures]
version = "0.3"
path = "../futures"

[target.'cfg(target_os = "windows")'.dependencies.winapi]
version = "0.3.6"
